In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import r2_score

In [4]:
file_path = "/workspaces/Machine-Learning/Lumpy skin disease data.csv"
dataframe = pd.read_csv(file_path)
dataframe.head()

,x,y,region,country,reportingDate,cld,dtr,frs,pet,pre,tmn,tmp,tmx,vap,wet,elevation,dominant_land_cover,X5_Ct_2010_Da,X5_Bf_2010_Da,lumpy
0,90.380931,22.437184,Asia,Bangladesh,10/9/2020,41.6,12.8,0.00,2.3,1.7,12.7,19.1,25.5,15.7,0.00,147,2,27970.983100,3691.746950,1
1,87.854975,22.986757,Asia,India,20/12/2019,40.5,13.3,0.00,2.4,0.0,13.2,19.8,26.5,16.3,0.00,145,2,25063.646690,671.326701,1
2,85.279935,23.610181,Asia,India,20/12/2019,27.3,13.6,0.08,2.3,0.6,9.4,16.2,23.0,13.0,0.98,158,2,6038.477155,1426.839831,1
3,81.564510,43.882221,Asia,China,25/10/2019,45.3,12.8,31.00,0.4,8.8,-22.5,-16.1,-9.7,0.9,4.64,178,2,760.703340,0.000000,1
4,81.161057,43.834976,Asia,China,25/10/2019,38.8,13.2,31.00,0.4,10.5,-20.4,-13.8,-7.2,1.2,1.69,185,3,270.367426,0.000000,1

In [5]:
features = dataframe.columns.drop(['region','country', 'reportingDate'])
X = dataframe[features[0:-1]]
y = dataframe.lumpy

In [6]:
X.dropna(axis = 0)

,x,y,cld,dtr,frs,pet,pre,tmn,tmp,tmx,vap,wet,elevation,dominant_land_cover,X5_Ct_2010_Da,X5_Bf_2010_Da
0,90.380931,22.437184,41.6,12.8,0.00,2.3,1.7,12.7,19.1,25.5,15.7,0.00,147,2,27970.983100,3691.746950
1,87.854975,22.986757,40.5,13.3,0.00,2.4,0.0,13.2,19.8,26.5,16.3,0.00,145,2,25063.646690,671.326701
2,85.279935,23.610181,27.3,13.6,0.08,2.3,0.6,9.4,16.2,23.0,13.0,0.98,158,2,6038.477155,1426.839831
3,81.564510,43.882221,45.3,12.8,31.00,0.4,8.8,-22.5,-16.1,-9.7,0.9,4.64,178,2,760.703340,0.000000
4,81.161057,43.834976,38.8,13.2,31.00,0.4,10.5,-20.4,-13.8,-7.2,1.2,1.69,185,3,270.367426,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24798,20.250000,-16.750000,68.8,12.0,0.00,3.6,172.0,17.7,23.7,29.7,22.4,15.60,184,3,95.184093,0.000000
24799,20.750000,-16.750000,68.8,11.8,0.00,3.6,170.0,18.0,23.9,29.8,23.2,15.70,182,4,111.561489,0.000000
24800,21.250000,-16.750000,68.8,11.6,0.00,3.6,167.5,18.3,24.1,29.9,23.9,15.87,178,5,109.733287,0.000000
24801,21.750000,-16.750000,68.8,11.5,0.00,3.6,169.5,18.5,24.2,30.0,24.2,16.30,180,3,103.753469,0.000000
24802,22.250000,-16.750000,67.5,11.4,0.00,3.7,172.1,18.7,24.4,30.1,24.5,16.67,179,3,85.084645,0.000000

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 1)

In [8]:
scalar = StandardScaler()
X_train = scalar.fit_transform(X_train)
X_test = scalar.transform(X_test)

In [9]:
for n in [1,2,3,4,5,6,7,8,9,10]:
  KNN_model = KNeighborsClassifier(n_neighbors = n)
  KNN_model.fit(X_train, y_train)
  prediction = KNN_model.predict(X_test)
  print(f"{n}.")
  print(f'r2_score : {r2_score(y_test, prediction)}')
  print(f'accuracy : {accuracy_score(y_test, prediction): .2f}')
  print()

1.
r2_score : 0.6483239509294856
accuracy :  0.96

2.
r2_score : 0.6353522933818027
accuracy :  0.96

3.
r2_score : 0.6800324471571548
accuracy :  0.96

4.
r2_score : 0.6771498565910031
accuracy :  0.96

5.
r2_score : 0.6800324471571548
accuracy :  0.96

6.
r2_score : 0.7059757622525207
accuracy :  0.97

7.
r2_score : 0.6944453999879137
accuracy :  0.97

8.
r2_score : 0.7117409433848243
accuracy :  0.97

9.
r2_score : 0.7045344669694449
accuracy :  0.97

10.
r2_score : 0.7131822386679001
accuracy :  0.97

In [10]:
DT_model = DecisionTreeClassifier(random_state = 0)
DT_model.fit(X_train, y_train)
prediction = DT_model.predict(X_test)
print(f'r2_score : {r2_score(y_test, prediction)}')
print(f'accuracy : {accuracy_score(y_test, prediction): .2f}')

r2_score : 0.7607449830094041
accuracy :  0.97

In [11]:
RF_model = RandomForestClassifier(n_estimators = 100,random_state = 0)
RF_model.fit(X_train, y_train)
prediction = RF_model.predict(X_test)
print(f'r2_score : {r2_score(y_test, prediction)}')
print(f'accuracy : {accuracy_score(y_test, prediction): .2f}')

r2_score : 0.7477733254617212
accuracy :  0.97